.news-container {
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(3, 1fr); 
    margin: 1rem;
}
.news-item {
    background-color: lightgray;
    margin: 1rem;
    border-radius: 1.5rem;
    padding: 1rem;

}

img {
    max-width: 15rem;
    max-height: 15rem;
}